#main-page-content{
	padding:30px;
	color: #96989a;
	font-style: italic;
}
.search_settings_section {
	.cherry-section__title{
		margin-top:0;
	}
	.submite_buttons{
		border:0;
		padding-bottom: 20px;
		> .cherry-settings__content{
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: flex-end;
			align-content: stretch;
			align-items: flex-start;
			> button{
				margin-left: 10px;
				position: relative;
				.text{
					transition: opacity 0.7s ease;
				}
				.icon, .loader-wrapper{
					opacity: 0;
					transform: scale(0);
					transition: opacity 0.5s ease, transform 0.5s ease;
				}
				.icon {
					position: absolute;
					top: 50%;
					left: 50%;
					font-size: 40px;
					width: 40px;
					height: 40px;
					margin: -20px 0 0 -20px;
				}
				.loader-wrapper{
					position: absolute;
					top: 50%;
					left: 50%;
					width: 20px;
					height: 20px;
					margin: -13px 0 0 -13px;
				}
				.loader {
					width: 20px;
					height: 20px;
					border: 3px solid #ffffff;
					border-top: 3px solid #3498db;
					border-radius: 50%;
					display: block;
					animation: spin 0.7s linear infinite;
				}

				&[disabled], &.success{
					cursor: default;
					pointer-events: none;
					.text{
						opacity: 0;
					}
				}
				&[disabled]{
					.loader-wrapper{
						opacity: 1;
						transform: scale(1);
					}
				}
				&.success{
					.icon{
						opacity: 1;
						transform: scale(1);
						transition-delay: 0.1s;
					}
				}
				@keyframes spin {
					0% { transform: rotate(0deg); }
					100% { transform: rotate(360deg); }
				}
			}
		}
	}
	@media (min-width: 783px){
		.search_settings_tab.cherry-component.cherry-tab--vertical>.cherry-tab__body{
			height: 480px;
			>.cherry-tab__tabs{
				flex: 0 1 15%;
			}
			>.cherry-tab__content{
				flex: 0 1 85%;
				.cherry-scroll{
					max-height: 478px;
				}
			}
		}
		.cherry-component {
			padding:0;
		}
		.submite_buttons{
			padding: 20px;
		}
	}
}
