<div class="cherry-search $$WRAPPER_CLASS$$">
	<form role="search" method="get" class="search-form cherry-search__form $$FORM_CLASS$$" action="$$ACTION$$">
		<label class="cherry-search__label">
			%%INPUT%%
		</label>
		%%SUBMIT%%
	</form>
	%%RESULTS_LIST%%
</div>
