<div class="cherry-search">
	<form role="search" method="get" class="search-form cherry-search__form" action="$$ACTION$$">
		<label class="cherry-search__label">
			%%INPUT%%
		</label>
		%%SUBMIT%%
	</form>
	%%RESULTS_LIST%%
</div>
