<span class="screen-reader-text">$$READER_TEXT$$</span>
<input type="search" $$INPUT_ID$$ class="search-field cherry-search__field search-form__field" placeholder="$$PLACEHOLDER$$&hellip;" value="" name="s" autocomplete="off"/>
<input type="hidden" value='$$SETTINGS$$' name="settings" />
